<launch>

  <node pkg="moos-ros-bridge" type="Bridge" name="Bridge4" 
        args="$(find moos-ros-bridge)/config/robot_3.xml $(find moos-ros-bridge)/config/bridge_3.moos" 
        respawn="false" output="screen" />

  <!-- <node pkg="moos-ros-bridge" type="counter" name="counter2" respawn="false" 
        output="screen" /> -->
  
  <node pkg="moos-ros-bridge" type="twistToMoos" name="twistToMoos" respawn="false" 
        output="screen">
        <!-- <remap from="CounterFromROS" to="Counter"/> -->
  </node>
</launch>
